<h4>{{snippet.title}}</h4>
<img src="{{'data:image/jpg;base64,' + snippet.highlighted}}" alt="code" style="max-width:100%" class="img-fluid"/>
<p class="m-0 p-0">
<a routerLink="/snippets/{{snippet.id}}" class="text-decoration-none text-muted small m-1">
  Likes <span class="badge">{{snippet.count_likes}}</span> - Comments <span class="badge">{{snippet.count_comments}}</span>
</a>
</p>

<div class="btn-group btn-group-sm">
  <button class="btn btn-outline-secondary" (click)="like()">
    <i class="fa fa-thumbs-up"></i>
  </button>
  <a *ngIf="!id" routerLink="/snippets/{{snippet.id}}" type="button" class="btn btn-outline-secondary">
    <i class="fa fa-comments-o"></i>
  </a>
</div>
<hr class="m-4">
